<div class="container">
    <div class="footer__inner">
        <!-- footer column -->
        <div class="footer__column-logo">
            <div class="footer__group-logo">
                <img src="./assets/icon/logo.svg" alt="" class="footer__logo" />
                <h2 class="footer__name-logo">WowWraps</h2>
            </div>
            <p class="footer__desc">Download the WowWraps app today.</p>
            <div class="footer__download">
                <a href="#!">
                    <img src="./assets/icon/app-store.svg" alt="" class="footer__app" />
                </a>
                <a href="#!">
                    <img src="./assets/icon/gg-play.svg" alt="" class="footer__app" />
                </a>
            </div>
        </div>

        <div class="footer__right">
            <!-- footer column 1 -->
            <div class="footer__column">
                <h3 class="footer__title">Usefull Link</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#!" class="footer__item--link">Home</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__item--link">About Us</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__item--link">Services</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__item--link">Booking</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__item--link">Menu</a>
                    </li>
                </ul>
            </div>

            <!-- footer column 2 -->
            <div class="footer__column">
                <h3 class="footer__title">Contact Info</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#!" class="footer__item--link">Silk St, Barbican, London EC2Y 8DS, UK</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__item--link">info@example.com</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__item--link">800-123-45-678</a>
                    </li>
                </ul>
            </div>

            <!-- footer column 3 -->
            <div class="footer__column">
                <h3 class="footer__title">Follow us</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#!" class="footer__item--link">Facebook</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__item--link">Instagram</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__item--link">Linkedin</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__item--link">Twitter</a>
                    </li>
                </ul>
            </div>

            <!-- footer column 4 -->
            <div class="footer__column">
                <h3 class="footer__title">Legal</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#!" class="footer__item--link">Website by uihut.com</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__item--link">©2022. All Rights Reserved</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
